@import 'variables';

.nw-feed-item {
    
    background: $color_bg;
    border: 1px solid rgba(#fff, .3);
    margin: rem($base-unit);
    box-shadow: 0 0 7px rgba(0,0,0,.3);

    &-enter,
    &-leave {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
    &-enter-active,
    &-leave-active {
        overflow: hidden;
        max-height: auto;
        transition: all 1s ease-out;
    }

    &__header {
        padding: rem($base-unit/2) 0 rem($base-unit) 0;
        border-bottom: 1px solid $color_border;
        margin: 0 rem($base-unit);
    }
    &__headline {
        font-size: rem($em-base);
        font-weight: normal;
        &-link {
            text-decoration: none;
            color: $color_link;
        }
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__message {
        margin: 0 rem($base-unit);
        line-height: 1.4;
    }
    &__buttons {
        display: flex;
        background: $color_border;
        border-top: 1px solid $color_border;
        padding: rem($base-unit/2) rem($base-unit) rem($base-unit);
        align-items: center;
    }
    &__link {
        text-decoration: none;
        color: $color_link;
    }
}