<transition name="nw-feed-item">
    <article :class="'nw-feed-item nw-feed-item--' + post.type + (post.image ? '' : ' nw-feed-item--noimage')">
        <picture class="image nw-feed-item__picture" v-if="post.image">
            <img class="nw-feed-item__image" :src="post.image" />
        </picture>
        <header class="nw-feed-item__header">
            <nw-icon :type="post.type"></nw-icon>
            <strong class="nw-feed-item__headline">
                <a  class="nw-feed-item__headline-link" v-bind:href="'https://' + post.type + '.com/' + post.account ">
                    {{ post.account }}
                </a>
            </strong>
        </header>
        <div class="content">
            <div class="nw-feed-item__message" v-html="'<p>' + post.message + '</p>'">
            </div>
            <footer class="nw-feed-item__buttons">
                <a v-bind:href="post.action" class="nw-feed-item__link">
                    <nw-icon :type="'share'"></nw-icon>
                    Show post
                </a>
            </footer>
        </div>
    </article>
</transition>