@import 'variables';

.nw-icon {
    display: inline-block;
    height: rem(24);
    width: rem(24);
    line-height: 1;
    margin-right: rem(10);
    position: relative;
    top: rem(6);
    text-align: center;
    path, circle {
        fill: $color_text;
    }
}